@mixin resultado {
    background-color: #897a5f;
}

@mixin encontrado {
    background-color: #1aae9f;
}

@mixin nao-encontrado {
    background-color: #d3455b;
}

body {
    background-color: #8dd7cf;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dfe6ed;
    padding: 10px;
    gap: 10px;

    button {
        width: 85%;
        padding: 5px;
        border: none;
        background-color: #788895;
        color: #fff;
        border-radius: 5px;
    }

    input {
        width: 80%;
        padding: 5px;
        border: 2px solid #c3cfd9;
        border-radius: 5px;

    }

    p {
        @include resultado;
        width: 80%;
        padding: 5px;
        color: #fff;
        border-radius: 5px;
        margin: 0;
    }

    .encontrado{
        @include encontrado;

    }

    .nao-encontrado{
        @include nao-encontrado;
    }
}

